/********ОБНУЛЕНИЕ********/
body{box-sizing: border-box;padding: 0;margin: 0;color: #F7F0D7;font-size: 16px;background: black;overflow-x: hidden;}
.body-wrapper{overflow-x: hidden;}
button{white-space: nowrap;}
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
 html,body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a,a:hover{text-decoration: none; cursor: pointer;}
ul li {list-style: none;}
img {vertical-align: top; }
.container{width: 100%;margin-right: auto;margin-left: auto;}
@media (min-width: 768px){.container {max-width: 750px;}}
@media (min-width: 992px){.container {max-width: 960px;}}
@media (min-width: 1200px){.container {max-width: 1140px;}}
@media (min-width: 1500px){.container {max-width: 1440px;}}

.body-wrapper{
	background: url(../img/bg.jpg);
	min-height: 100vh;
	background-position: center;
	background-size: cover;
  background-attachment: fixed;
}

form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  margin-top: 10vh;
  background: #c502198c;
  padding: 50px;
}
button{
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  height: 50px;
  font-size: 25px;
  background: #000;
  color:#F7F0D7;
}
input{
  width: 300px;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
form p{
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}
form p:first-child{
  margin-top: 0;
  margin-bottom: 30px;
}









/********МЕДИА ЗАПРОСЫ********/
@media (max-width: 1200px){}
@media (max-width: 993px){}
@media (max-width: 678px){}
@media (max-width: 555px){}
@media (max-width: 425px){}